{% extends 'general/base.html' %}
{% load static %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="section-description d-flex align-items-center">
                    <div class="section-description-content flex-grow-1">
                        <h1 class="">Key Performance Indicators</h1>
                    </div>
                    <div class="section-description-actions">
                        
                        <a href="{% url 'kpi_create' %}" class="btn btn-green"><i class="material-icons">add</i>Create</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Table for Listing KPIs -->
        <div class="table-responsive mt-5 p-0">
            <table id="result_list" class="table table-striped">
                <thead>
                    <tr>
                        <!-- Select All Checkbox -->
                        <th class="djn-checkbox-select-all" tabindex="0" rowspan="1" colspan="1">
                            <div class="text">
                                <span>
                                    <input type="checkbox" id="action-toggle"
                                        aria-label="Select all objects on this page for an action">
                                </span>
                            </div>
                        </th>

                        <!-- Table Header for KPI Name -->
                        <th class="sorting text-green" tabindex="0" rowspan="1" colspan="1">
                            <h5 class="text text-green">
                                KPI Name
                            </h5>
                        </th>

                        <!-- Table Header for Strategic Objective -->
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                            <h5 class="text text-green">
                                Strategic Objective
                            </h5>
                        </th>

                        <!-- Table Header for Created By -->
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                            <h5 class="text text-green">
                                Created By
                            </h5>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for kpi in kpis %}
                    <tr role="row" class="{% cycle 'even' 'odd' %}">
                        <!-- Checkbox for each row -->
                        <td class="action-checkbox">
                            <input type="checkbox" name="_selected_action" value="{{ kpi.id }}"
                                class="action-select"
                                aria-label="Select this object for an action - {{ kpi.name }}">
                        </td>

                        <!-- KPI Name -->
                        <th class="field-__str__">
                            <a class="link" href="{% url 'kpi_update' kpi.id %}">{{ kpi.name }}</a>
                        </th>

                        <!-- Strategic Objective -->
                        <td class="field-strategic-objective">
                            {{ kpi.strategic_objective }}
                        </td>

                        <!-- Created By -->
                        <td class="field-created-by">
                            {{ kpi.created_by }}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">
                            No KPIs found.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
