{% extends 'general/base.html' %}
{% load static %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="example-container">
            <div class="example-content bg-light">
                <div class="section-description d-flex align-items-center">
                    <div class="section-description-content flex-grow-1">
                        <h1 class="">Strategic Theme</h1>
                    </div>
                    <div class="section-description-actions">
                       
                        <a href="{% url 'strategic_theme_create'%}" class="btn btn-green"><i class="material-icons">add</i>Create</a>
                    </div>

                </div>

            </div>
        </div>
        <div class="table-responsive mt-5 p-0">
            <table id="result_list" class="table table-striped">
                <thead>
                    <tr>
                        <!-- Select All Checkbox -->
                        <th class="djn-checkbox-select-all" tabindex="0" rowspan="1" colspan="1">
                            <div class="text">
                                <span>
                                    <input type="checkbox" id="action-toggle"
                                        aria-label="Select all objects on this page for an action">
                                </span>
                            </div>
                        </th>

                        <!-- Table Header for Strategic Theme -->
                        <th class="sorting text-green" tabindex="0" rowspan="1" colspan="1">
                            <h5 class="text text-green">
                                Strategic Theme
                            </h5>
                        </th>

                        <!-- Table Header for Description -->
                        <th class="sorting" tabindex="0" rowspan="1" colspan="1">
                            <h5 class="text text-green">
                                Description
                            </h5>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for theme in strategic_themes %}
                    <tr role="row" class="{% cycle 'even' 'odd' %}">
                        <!-- Checkbox for each row -->
                        <td class="action-checkbox">
                            <input type="checkbox" name="_selected_action" value="{{ theme.id }}"
                                class="action-select"
                                aria-label="Select this object for an action - {{ theme.theme_name }}">
                        </td>

                        <!-- Strategic Theme Name -->
                        <th class="field-__str__">
                            <a class="link" href="{% url 'strategic_theme_update' theme.id %}">{{ theme.theme_name }}</a>
                        </th>

                        <!-- Strategic Theme Description -->
                        <td class="field-description">
                            {{ theme.description }}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">
                            No strategic themes found.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}